//- .pull-right
                .dropdown(ng-show='canEdit() && !editing')
                    button.btn-default(class='dropdown-toggle', type='button', id='dropdownMenu', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                        span(class='caret')
                    ul.dropdown-menu(aria-labelledby='dropdownMenu')
                        li(ng-click='edit(user)'): a(href='') 
                            span.glyphicon(class='glyphicon-pencil')
                            |  Edit Info
                        li.bg-danger(ng-click='delete(user)'): a(href='')
                            span.glyphicon(class='glyphicon-remove')
                            | Delete
                button.btn-primary(ng-click='update(user)', ng-show='editing', ng-disabled='userProfile.$invalid') Update!
.jumbotron
    .row
        .col-md-4
            img.img-circle(class='img-responsive center-block', name= 'avatar', alt='{{ user.handle }}', ng-src='{{ user.avatarUrl }}')
        .col-md-8
            .pull-right
                .dropdown(ng-show='canEdit && !editing')
                    a.dropdown-toggle(data-toggle='dropdown', id='dropdownMenu', aria-haspopup='true', aria-expanded='true')
                        span.glyphicon(class='glyphicon-option-horizontal', aria-hidden='true')
                    ul.dropdown-menu(aria-labelledby='dropdownMenu')
                        li(ng-click='edit(user)'): a(href='') 
                            span.glyphicon(class='glyphicon-pencil')
                            |  Edit Info
                        li.bg-danger(ng-click='delete(user)'): a(href='')
                            span.glyphicon(class='glyphicon-remove')
                            | Delete
            h3 {{ fullname(user) }}
            .metrics
form(name='userProfile', role='form', novalidate, ng-if='canEdit')
    .form-group
        label(for='avatarInput') Choose your avatar:
        input.form-control(type='file', name='avatar', id='avatarInput', accept='image/*', onchange='angular.element(this).scope().readFile(this)', ng-hide='!editing')
    .form-group
        label(for='firstName') First Name:
        input.form-control(type='text', name='firstName', id='firstName', placeholder='First Name', ng-model='user.firstName', ng-disabled='!editing', required)
    .form-group
        label(for='lastName') Last Name:
        input.form-control(type='text', name='lastName', id='lastName', placeholder='Last Name', ng-model='user.lastName', ng-disabled='!editing', required)
    .form-group
        label(for='handle') Handle:	
        input.form-control(type='text', name='handle', id='handle', placeholder='Handle', ng-model='user.handle', ng-disabled='!editing', required)
    .form-group
        label(for='email') Email:
        input.form-control(type='email', name='email', id='email', placeholder='Email', ng-model='user.email', ng-disabled='!editing', required)
    .form-group
        label(for='whatsapp') Whatsapp Number:
        input.form-control(type='tel', name='whatsapp', id='whatsapp', placeholder='Whatsapp N*', ng-model='user.whatsapp', ng-disabled='!editing')
    .form-group
        button.btn-primary(class='form-control', ng-click='update(user)', ng-show='editing', ng-disabled='userProfile.$invalid') Update!

z-album-listing(artist='user')