extends layout

block content
  include app/components/users/login/loginForm

append scripts
  script(src='../zinfataClient/assets/libs/angular-1.3.18/angular-resource.js')
  script(src='../zinfataClient/assets/libs/angular-1.3.18/angular-route.js')
  script(src='../zinfataClient/app/app.module.js')
  script(src='../zinfataClient/app/app.factories.js')
  script(src='../zinfataClient/app/components/users/usersService.js')
