.jumbotron(ng-if='!creating')
    .row
        .col-md-4
            img.img-circle(class='img-responsive center-block', name= 'coverArt', alt='{{ album.title }}', ng-src='{{ album.imageUrl }}')
        .col-md-8
            .pull-right
                .dropdown
                    a.dropdown-toggle(data-toggle='dropdown', id='dropdownMenu', aria-haspopup='true', aria-expanded='true')
                        span.glyphicon(class='glyphicon-option-horizontal', aria-hidden='true')
                    ul.dropdown-menu(aria-labelledby='dropdownMenu')
                        //- li(ng-click='play(album)'): a(href='')
                            span.glyphicon(class='glyphicon-play')
                            |  Play
                        //- li(ng-click='queueUp(album)'): a(href='')
                            span.glyphicon(class='glyphicon-list-alt')
                            |  Add to queue
                        div(ng-show='canEdit && !editing')
                            li(ng-click='edit(album)'): a(href='') 
                                span.glyphicon(class='glyphicon-pencil')
                                |  Edit info
                            li.bg-danger(ng-click='delete(album)'): a(href='')
                                span.glyphicon(class='glyphicon-remove')
                                | Delete
            h3 {{ album.title }}
            h4: a(href='/user/{{ album.artistId }}') {{ album.artist }}
            .metrics

form(name='albumForm', enctype= 'multipart/form-data', ng-if='editing || creating', role='form', novalidate)
    .form-group
        img.img-circle(class='img-responsive center-block', name= 'coverArt', width='200', alt='{{ album.title }}', ng-src='{{ album.imageUrl }}')
    .form-group
        input.form-control(type='text', name='title', id='title', placeholder='Title', ng-model='album.title', ng-disabled='!editing && !creating', required)
    .form-group
        label(for='coverArt') Cover Art:
        input.form-control(type='file', name='coverArt', id='coverArt', accept='image/*', ng-model='album.coverArt', onchange='angular.element(this).scope().readFile(this)')
    .form-group
        label(for='releaseDate') Release Date:
        input.form-control(type='date', name='releaseDate', id='releaseDate', ng-model='album.releaseDate', ng-disabled='!editing && !creating', required)
    .form-group
        button.btn(type='submit', ng-click='create(album)', ng-show='creating', class=['btn-primary', 'form-control'], ng-disabled='albumForm.$invalid') Create Album!
        button.btn(type='submit', ng-click='update(album)', ng-show='editing', class=['btn-primary', 'form-control'], ng-disabled='albumForm.$invalid') Update!

z-track-listing(for='album', type='album')