.jumbotron(ng-hide='creating || editing', class='z-id-card')
    .z-blur
    .container
        .row
            .col-md-10(class='col-md-offset-1')
                .col-sm-12(class='col-md-3')
                    img.img-circle(class='img-responsive center-block', id='avatar', name= 'coverArt', 
                        alt='{{ album.title }}', ng-src='{{ album.imageUrl }}')
                .col-sm-12(class='col-md-9')
                    .z.vcentered
                        h1.text-capitalize {{ album.title }}
                            .small: a(href='/user/{{ album.artist.id }}') {{ album.artist.handle }}
                        br
                        .metrics
                            ul.list-inline
                                li.text-capitalize: ng-pluralize(count='album.trackLength', when="{'0': '0 track', '1': '1 track', 'other': '{} tracks'}")
                                li.text-capitalize duration: {{ album.duration | duration2time }}
.container
    .row
        .col-sm-12(class='col-xs-12 col-md-10 col-md-offset-1')
            .z-content-area
                div(ng-if='creating || (canEdit && editing)')
                    .row
                        .col-md-8(class='col-md-offset-2')
                            .page-header(ng-if='editing || creating')
                                h3 {{ pageTitle }}
                                    .small {{ pageDescription }}
                            form(name='albumForm', enctype= 'multipart/form-data', ng-if='editing || creating', role='form', novalidate)
                                .form-group
                                    img.img-circle(class='img-responsive center-block', name= 'coverArt', width='200', alt='{{ album.title }}', ng-src='{{ album.imageUrl }}')
                                .form-group
                                    input.form-control(type='text', name='title', id='title', placeholder='Title', ng-model='album.title', ng-disabled='!editing && !creating', required)
                                .form-group
                                    label(for='coverArt') Cover Art:
                                    z-img-crop(on-img-ready='updateCoverImage(imgFile)')
                                .form-group
                                    label(for='about') About: 
                                    textarea.form-control(name='about', id='about', placeholder='Tell Us More About This Album', ng-model='album.about', ng-disabled='!editing && !creating', rows='5', maxlength='1000')
                                .form-group
                                    label(for='releaseDate') Release Date:
                                    input.form-control(type='date', name='releaseDate', id='releaseDate', ng-model='album.releaseDate', ng-disabled='!editing && !creating', required)
                                .form-group
                                    button.z-btn(type='submit', ng-click='create(album)', ng-show='creating', class=['form-control'], ng-disabled='albumForm.$invalid') Create Album!
                                    button.z-btn(type='submit', ng-click='update(album)', ng-show='editing', class=['form-control'], ng-disabled='albumForm.$invalid') Update!
                div(ng-hide='editing || creating')
                    .row
                        .col-sm-12(class='col-md-3')
                            section(ng-if='canEdit && !editing')
                                h4 Album
                                ul.list-unstyled
                                    li(ng-click='edit(album)'): a(href='') 
                                        span.glyphicon(class='glyphicon-pencil')
                                        |  Edit info
                                    li(ng-click='delete(album)'): a(href='')
                                        span.glyphicon(class='glyphicon-remove')
                                        |  Delete
                            section
                                h3: a(href='/user/{{ album.artist.id }}') {{ album.artist.handle }} 

                        .col-sm-12(class='col-md-9')
                            section(ng-show='album.about')
                                h4 About This Album
                                p.
                                    {{ album.about }}
                            z-track-listing(for='album', type='album', ng-if='!creating && !editing')
      