extends layout

block content
  h1 Add A New Track
    form(name="newTrackForm", ng-controller="newTrackCtrl")
      input(type="text" name="title" placeholder="title" required autofocus)
      input(type="text" name="feat" placeholder="Contributing Artists")
      input(type="text" name="Album" placeholder="Album")
      button(type="submit" ng-click="") Add New Track!
  script.
    var app = angular.module('zinfataClient', []);
    app.factory('Tracks', function($resource) {
      return $resource('/users/:id', null, {
        'update': {method:'PUT'}
      });
    });

    app.controller('newTrackCtrl', ['ngRoute', 'ngResource'],
    function($scope, $resource, $routeParams, Tracks) {
      $scope.album = Albums.get({id: $routeParams.id}) || new Albums;
      $scope.submit = function($scope) {
        $scope.album.$save;
      };
    });
