extends layout

block content
  div.container(ng-controller="authCtrl")
    h1 User Login Form
    form(name="loginForm", action="/login", method="post")
      input(type="text", name="handle", placeholder="Identifiant", ng-model="handle", required, autofocus)
      input(type="password", name="password", placeholder="Password", ng-model="password", required)
      button(type="submit") Log In!

  script.
    var app = angular.module('zinfataClient', []);

    app.controller('authCtrl', function($scope) {

    });
