doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angular.js')
  body(ng-app="zinfataClient")
    block content

  script(src='/javascripts/angular-resource.js')
  script(src='/javascripts/angular-route.js')
