.row(ng-controller='playerCtrl')
  a.thumbnail
    img(src='#', alt='cover art')
  .track-info
    h4 {{ track.name }}
    h5 {{ track.artist }}
.row
  p Add Player Here
.row
  .btn-toolbar(class='player-controls', role='toolbar')
    .btn-group
      button.btn(class='btn-default', type='button')
        span.glyphicon(class='glyphicon-eject')
    .btn-group
      button.btn(class='btn-default', type='button')
        span.glyphicon(class='glyphicon-backward')
      button.btn(class='btn-default', type='button')
        span.glyphicon(class='glyphicon-play')
      button.btn(class='btn-default', type='button')
        span.glyphicon(class='glyphicon-forward')
    .btn-group
      button.btn(class='btn-default', type='button')
        span.glyphicon(class='glyphicon-repeat')
      button.btn(class='btn-default', type='button')
        span.glyphicon(class='glyphicon-random')
    .btn-group
      button.btn(class='btn-default', type='button')
        span.glyphicon(class='glyphicon-option-horizontal')

script(src='/zinfataClient/app/shared/player/playerController.js')
