.container
    .row
        .col-sm-12(class='col-md-10 col-md-offset-1')
            .z-content-area
                .panel(id='z-queue')
                    .panel-heading
                        h3.panel-title(class='text-capitalize') Music queue
                            .pull-right
                                ng-pluralize(count='queue.tracks.length', when="{'0': '0 track', '1': '1 track', 'other': '{} tracks'}")
                                |, duration: {{ queue.duration | duration2time }}
                    .panel-body
                        .table-responsive
                            table.table(class='table-striped table-hover table-condensed')
                                thead
                                    tr.row
                                        th.col-md-1(class='col-sm-1 col-xs-1')
                                        th.col-md-4(class='col-sm-4 col-xs-4') Title
                                        th.col-md-3(class='col-sm-3 col-xs-3') Album
                                        th.col-md-2(class='col-sm-2 col-xs-2') Artist
                                        th.col-md-1(class='col-sm-1 col-xs-1') Duration
                                        //- td Length -- TODO: record track's length into database
                                        //- options for interacting with the song
                                        th.col-md-1(class='col-sm-1 col-xs-1') 
                                tbody
                                    tr.row(ng-repeat='item in queue.tracks track by $index')
                                        td.col-md-1(class='col-sm-1 col-xs-1')
                                            a(href='#', ng-click='queue.playPause($event, $index)')
                                                span.glyphicon(ng-hide='musicPlaying($index, item._id)', class='glyphicon-play')
                                                span.glyphicon(ng-show='musicPlaying($index, item._id)', class='glyphicon-volume-up')
                                        td.col-md-4(class='col-sm-4 col-xs-4') 
                                            a(href='/track/{{item._id}}') {{ item.title }} 
                                        td.col-md-3(class='col-sm-3 col-xs-3')
                                            a(href='/album/{{item.album.id}}') {{ item.album.title }} 
                                        td.col-md-2(class='col-sm-2 col-xs-2') 
                                            a(href='/user/{{item.artist.id}}') {{ item.artist.handle }}
                                        td.text-center(class='small') 
                                            {{ item.duration | duration2time }}
                                        td.col-md-1(class='col-sm-1 col-xs-1')
                                            a(type="button", class='close', aria-label='Close', ng-click='queue.removeTrack($index)')
                                                span(aria-hidden="true") &times;  
