p.
    By accessing and using <strong>Zinfata</strong> , you accept and agree to be bound by the terms and provision of this agreement. In addition, when using this website's particular services, you shall be subject to any posted guidelines or rules applicable to such services, which may be posted and modified from time to time. All such guidelines or rules are hereby incorporated by reference into the End Use License Agreement.
p.
    ANY PARTICIPATION IN THIS SITE WILL CONSTITUTE ACCEPTANCE OF THIS AGREEMENT. IF YOU DO NOT AGREE TO ABIDE BY THE ABOVE, PLEASE DO NOT USE THIS SITE.

h5 Licensing 

p.
    Zinfata is the sole proprietor of the zinfata website and hold all intellectual rights. the Zinfata application is licensed for use according to the terms stated in this EULA.
p.
    Any attempt to reverse-engineer, redistribute, copy, clone, modify or alter in any way the licensed application without specific approval is strictly prohibited, and therefore punishable by law.

h5 Limitation of Liability

p.
    Although well tested, the Zinfata application is provided for use as is. Zinfata will not be responsible for any mishap resulting from the use and misuse of the application.
p.
    Zinfata cannot and will not be liable for any computer damage, and/or legal problems resulting from the use of the application.

h5 Accuracy Of Information

p.
    Zinfata shall not be responsible or liable for the accuracy, usefulness or availability of any information transmitted or made available via the site, and shall not be responsible or liable for any error or omissions in that information.

    Zinfata shall not be responsible or liable for anything resulting in the use of the site, other than the liabilities explicitly stated in the EULA. 

h5 Intellectual Property Rights

p.
    When you post content, you have agreed that you are the copyright owner of such content and / or have all necessary third party permissions and licenses to make use or reproduce content, i.e works of art, music, graphics, photographs, and other intellectual property. 
p.
    By uploading content to Zinfata, you thereby allow (i) the reproduction of such content, (ii) the preparation of new or derivative content based upon the uploaded content, (iii) the distribution and display of copies of the content to the public.
p.
    If you feel that your copyright rights have been infringed upon, immediately reach out to us via email (zinfata@gmail.com). We will do our best to work things out to the benefits of the content's copyright owner.

h5 Data And Privacy

p.
    Zinfata reserve the right to redistribute your work, as well as your public information to any third-party website and application.




Terms and Conditions ("Terms")
Last updated: January 16, 2016
Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the http://www.zinfata.com website (the "Service") operated by Zinfata ("us", "we", or "our").

Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.

By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.

Accounts
When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.

You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.

You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.

Links To Other Web Sites
Our Service may contain links to third-party web sites or services that are not owned or controlled by Zinfata.

Zinfata has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that Zinfata shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.

We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.

Termination
We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.

All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.

Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.

All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.

Governing Law
These Terms shall be governed and construed in accordance with the laws of Togo, without regard to its conflict of law provisions.

Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have between us regarding the Service.

Changes
We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will try to provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.

By continuing to access or use our Service after those revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, please stop using the Service.

Contact Us
If you have any questions about these Terms, please contact us.