.container
  .row
      .col-xs-12(class='col-sm-12 col-md-10 col-md-offset-1')
        .z-content-area
          .page-header
            h2 Search Zinfata
              .small Find more artists, albums, tracks, and playlists...
          z-search-box

