extends layout

block content
    div(ng-view)

append scripts
    script(src='zinfataClient/assets/libs/angular-1.4.5/angular-resource.js')
    script(src='zinfataClient/assets/libs/angular-1.4.5/angular-route.js')
    script(src='zinfataClient/assets/libs/angular-1.4.5/angular-messages.js')

    script(src='zinfataClient/app/app.module.js')
    script(src='zinfataClient/app/app.factories.js')
    script(src='zinfataClient/app/app.directives.js')
    script(src='zinfataClient/app/app.routes.js')
    script(src='zinfataClient/app/app.constants.js')
    script(src='zinfataClient/app/app.services.js')
    script(src='zinfataClient/app/app.filters.js')

    script(src='zinfataClient/app/shared/header/headerController.js')
    script(src='zinfataClient/app/shared/messages/formMessages.js')
    script(src='zinfataClient/app/shared/messages/messageController.js')
    script(src='/zinfataClient/app/shared/player/playerController.js')
    script(src='/zinfataClient/app/shared/sidebar/sidebarController.js')
        
    script(src='zinfataClient/app/components/dashboard/dashboardController.js')
    script(src='zinfataClient/app/components/registration/registerController.js')
    script(src='zinfataClient/app/components/tokenValidator/tokenController.js')
    script(src='zinfataClient/app/components/login/loginController.js')
    script(src='zinfataClient/app/components/forgot/forgotController.js')
    script(src='zinfataClient/app/components/passwordReset/passwordResetController.js')
    script(src='zinfataClient/app/components/userProfile/userProfileController.js')
    script(src='zinfataClient/app/components/album/albumController.js')
    script(src='zinfataClient/app/components/track/trackController.js')
    script(src='zinfataClient/app/components/playlist/playlistController.js')
    script(src='zinfataClient/app/components/queue/queueController.js')
    script(src='zinfataClient/app/components/search/searchController.js')
   