extends layout

append head
    //- vendors:css
    link(rel="stylesheet", href="/lib/bootstrap-3.3.5/css/bootstrap.css")
    link(rel="stylesheet", href="/lib/jquery-ui-1.11.4/jquery-ui.css")
    link(rel="stylesheet", href="/lib/font-awesome-4.5.0/css/font-awesome.css")
    link(rel="stylesheet", href="/lib/ngImgCrop/ng-img-crop.css")
    //- endinject

    //- inject:css
    link(rel="stylesheet", href="/stylesheets/zinfata.css")
    //- endinject
block content
    div(ng-view)
        //- .jumbotron
        //-     block jumbotron
        //- .z-content-area(class='col-xs-12 col-sm-12 col-md-10 col-md-offset-1')
        //-     block z-content-area
        //-     .z-s-content-area(class='col-md-8 col-md-offset-2')
        //-         block z-s-content-area

append scripts
    //- vendors:js
    script(src="/lib/jquery/jquery-2.1.4.min.js")
    script(src="/lib/jquery-ui-1.11.4/jquery-ui.js")
    script(src="/lib/bootstrap-3.3.5/js/bootstrap.js")
    script(src="/lib/angular-1.4.5/angular.js")
    script(src="/lib/angular-1.4.5/angular-resource.js")
    script(src="/lib/angular-1.4.5/angular-route.js")
    script(src="/lib/angular-1.4.5/angular-messages.js")
    script(src="/lib/ngImgCrop/ng-img-crop.js")
    script(src="/lib/modernizr/modernizr.js")
    //- endinject

    //- inject:js
    //- script(src="/javascripts/feature-detects.js")
    script(src="/zinfataClient/app/app.module.js")
    script(src="/zinfataClient/app/app.constants.js")
    script(src="/zinfataClient/app/app.directives.js")
    script(src="/zinfataClient/app/app.factories.js")
    script(src="/zinfataClient/app/app.filters.js")
    script(src="/zinfataClient/app/app.routes.js")
    script(src="/zinfataClient/app/app.services.js")
    script(src="/zinfataClient/app/components/album/albumController.js")
    script(src="/zinfataClient/app/components/dashboard/dashboardController.js")
    script(src="/zinfataClient/app/components/forgot/forgotController.js")
    script(src="/zinfataClient/app/components/login/loginController.js")
    script(src="/zinfataClient/app/components/logout/logoutController.js")
    script(src="/zinfataClient/app/components/passwordReset/passwordResetController.js")
    script(src="/zinfataClient/app/components/playlist/playlistController.js")
    script(src="/zinfataClient/app/components/queue/queueController.js")
    script(src="/zinfataClient/app/components/registration/registerController.js")
    script(src="/zinfataClient/app/components/search/searchController.js")
    script(src="/zinfataClient/app/components/tokenValidator/tokenController.js")
    script(src="/zinfataClient/app/components/track/trackController.js")
    script(src="/zinfataClient/app/components/userProfile/userProfileController.js")
    script(src="/zinfataClient/app/shared/header/headerController.js")
    script(src="/zinfataClient/app/shared/messages/messageController.js")
    script(src="/zinfataClient/app/shared/player/playerController.js")
    script(src="/zinfataClient/app/shared/sidebar/sidebarController.js")
    //- endinject
    