doctype
html.no-js
  head
    base(href='/')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(name='description', content='La plateforme de la musique togolaise.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block head
  body(ng-app='zinfataClient')
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    block header
      include app/shared/header/header    
    block messages
      //- z-message-box
      include app/shared/messages/messageBox
    
    block content
    
    block media
      include app/shared/player/player

    block scripts
