form(name='PlaylistForm', role='form')
    //- .form-group
        img(name='coverArt', ng-src='{{playlist.imageUrl}}')
        div(ng-show='editing || creating')
            label(for='coverArt') Cover Art:
                input.form-control(type='file', name='coverArt', accept='image/*', ng-model='playlist.coverArt', onchange='angular.element(this).scope().readFile(this)')
    .form-group
        input.form-control(type='text', name='title', placeholder='Enter Playlist Name', ng-model='playlist.title', ng-disabled='!editing && !creating', autofocus, required)
        div(ng-if='!editing && !creating')
            p
                span(#artistName)
                    |  Created by
                    em
                        a(href='/user/{{ playlist.owner.id }}')   {{ playlist.owner.handle }}
                span.dropdown(class='pull-right', ng-show='canEdit')
                    a.dropdown-toggle(data-toggle='dropdown', id='dropdownMenu', aria-haspopup='true', aria-expanded='true')
                        span.glyphicon(class='glyphicon-option-horizontal', aria-hidden='true')
                    ul.dropdown-menu(aria-labelledby='dropdownMenu')
                        li(ng-click='edit(playlist)'): a(href='') 
                            span.glyphicon(class='glyphicon-pencil')
                            |  Edit Info
                        li.bg-danger(ng-click='delete(playlist)'): a(href='')
                            span.glyphicon(class='glyphicon-remove')
                            | Delete
            p.item-info
                span.song-count
                    em
                        ng-pluralize(count='playlistTracks.length', when="{'0': '0 Song', '1': '1 Song', 'other': '{} Songs'}")

                //- span.playlist-length
                    |  123 minutes               
    .form-group
        button.btn(type='submit', ng-click='create(playlist)', ng-show='creating', class=['btn-primary', 'form-control'], ng-disabled='playlistForm.$invalid') Create Playlist!
        button.btn(type='submit', ng-click='update(playlist)', ng-show='editing', class=['btn-primary', 'form-control'], ng-disabled='playlistForm.$invalid') Save Changes!

div(ng-if='!creating && !!playlist.tracks.length')
    table.table(class='table-striped table-hover table-condensed')
        thead
            tr
                th.col-md-5 Title
                th.col-md-3 Album
                th.col-md-3 Artist
                //- td Length -- TODO: record track's length into database
                //- options for interacting with the song
                th.col-md-1 
        tbody
            tr(ng-repeat='track in playlistTracks')
                td 
                    a(href='/track/{{track._id}}') {{ track.title }} 
                td
                    a(href='/album/{{track.album.id}}') {{ track.album.title }} 
                td 
                    a(href='/user/{{track.artist.id}}') {{ track.artist.handle }}
                td
                    .dropdown(class='pull-right')
                        a.dropdown-toggle(data-toggle='dropdown')
                            span.glyphicon(class='glyphicon-option-horizontal', aria-hidden='true')
                        ul.dropdown-menu
                            li: a(href='', ng-click='play(track)') 
                                span.glyphicon(class='glyphicon-play')
                                |  Play now
                            li: a(href='', ng-click='addToQueue(track)') 
                                span.glyphicon(class='glyphicon-list')
                                |  Queue up
                            li.dropdown-toggle: a(href='') 
                                span.glyphicon(class='glyphicon-plus')
                                |  Add to
                                span.caret
                                ul.dropdown-menu
                                    li: a(href='/playlist/new') Create new playlist
                                    li.divider(role='separator') 
                                    li(ng-repeat='playlist in playlists', ng-click='addToPlaylist(playlist)')
                                        a(href='#') {{ playlist.title }}
                            li(ng-click='removeTrack($index)'): a(href='')
                                span.text-danger Delete