/* track list */
@track-actions-bt-play-color:#81C784;
@track-actions-bt-play-color-hover:#43A047;

@track-actions-bt-add-to-playlist-color:#FFD54F;
@track-actions-bt-add-to-playlist-color-hover:#FFB300;

@track-actions-bt-add-to-queue-color:#64B5F6;
@track-actions-bt-add-to-queue-color-hover:#1E88E5;