/* menu */

#mobile-menu{
	@media (max-width: 1000px){
		display : block;
	}
	@media (min-width: 1001px){
		display : none;
	}

}

#sidebar{
	@media (max-width: 1000px){
		display : none;
	}
	@media (min-width: 1001px){
		display : block;
	}
}

.nav>.z-desktop{
	@media (max-width: 1000px){
		display : none;
	}
}
