.cent{
	display: inline-block;
	height: 100%;
	width: 0px;
	vertical-align: middle;
}

a:hover{text-decoration: none;}

/* menu */

#mobile-menu{
	@media (max-width: 1000px){
		display : block;
	}
	@media (min-width: 1001px){
		display : none;
	}

}

#sidebar{
	@media (max-width: 1000px){
		display : none;
	}
	@media (min-width: 1001px){
		display : block;
	}
}

.nav>.z-desktop{
	@media (max-width: 1000px){
		display : none;
	}
}

/* track */

.spin-round(@size: 10px, @backgroundcolor: #FAFAFA){
	display: inline-block;
	position: absolute;
	height: @size;
	width: @size;
	background-color: @backgroundcolor;
	border-radius: 50%;
}

.track-list{
	a{text-decoration: none;}
	.track-item{
		border: 2px solid #F1F1F1;
		margin-bottom: 5px;
		border-radius: 5px;
		.track-cover{
			display: inline-block;
			padding: 10px;
			vertical-align: top;
		}
		.track-infos{
			display: inline-block;
			width : ~'calc(100% - 70px)';
			padding-left: 5px;
			padding-right: 10px;

			.track-title,.track-duration,.track-author,.track-album{
				padding-bottom: 7px;
				word-wrap: break-word;
				font-size: 14px;
				line-height: 18px;
			}

			.track-title{
				padding-top: 5px;

			}
			.track-author{
				font-weight: bold;
			}

			.track-album{
				i{
					margin-right: 5px;
				}
			}

			.track-type-duration{
				font-size: 14px;
				padding-bottom: 5px;
				.track-duration,.track-type{
					display: inline-block;
				}
				.track-duration{
					padding-left: 20px;
				}
			}



			.track-actions{
				padding: 5px 0px;

				.track-actions-bt{
					display: inline-block;
					border: 1px solid transparent;
					padding: 5px 10px;
					&-play{
						background-color: @track-actions-bt-play-color;
						&:hover{background-color: @track-actions-bt-play-color-hover;}
					}
					&-add-to-queue{
						background-color: @track-actions-bt-add-to-queue-color;
						&:hover{background-color: @track-actions-bt-add-to-queue-color-hover;}
					}
					&-add-to-playlist{
						background-color: @track-actions-bt-add-to-playlist-color;
						&:hover{background-color: @track-actions-bt-add-to-playlist-color-hover;}
					}
					
					&:not(:first-child){
						margin-left: 5px;
					}
					&, & a{
						text-decoration: none;
						color: white;

					}
				}
			}
		}
	}
}

/* z-player bottom */
.z-control-bt-container{
	.z-control-bt, .z-track-duration-container,fa-volume-up,.volume-slider{vertical-align: middle;}
}
.z-player-bottom{
	//height: 70px;
	background-color: #212121;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #FFFFFF;
	text-align: center;
	padding: 10px 20px;
	.z-control-bt-container,.z-player-track-infos,.z-control-bt,.track-thumbnail{
			display:inline-block;
			vertical-align: middle;
	}

	.z-player-track-infos{
		font-size: 12px;
		line-height: 16px;
		padding: 2px 15px;
		text-align: left;
		max-width: 330px;
		color: #9D9D9D;

		.z-player-track-title,span.z-player-track-author,.z-player-track-album{

			&,& a{
				display: inline-block;	
				color: #FFFFFF;
			}
			& a{color: #FFFFFF;}
			& a:hover{color: #FFD54F;}
		}

		.z-player-track-title{
			padding-right: 7px;
		}
		span.z-player-track-author,.z-player-track-album{
			padding-left: 7px;
		}


	}
	.z-control-bt-container{
		padding-left: 15px;
		//border: solid red;
		.track-thumbnail{
			margin-top: 10px;
		}	
		.z-track-volume-container{
			display: inline-block;
			margin-left: 10px;
			text-align: center;
			margin-left: 15px;
			margin-right: 15px;
			vertical-align: middle;

			#player-volume-slider{
				-webkit-appearance: slider-vertical;
			    width: 2px;
			    height: 30px;
			    display: inline-block;				
				display: block;
			}
			i{
				display: block;
				width: 15px;
				font-size: 16px;
				margin-top: 5px;
				position: relative;
				left: -5px;
				&:hover{cursor: pointer;}
			}

		}
		.z-control-bt{
		    border: 1px solid #727273;
		    border-radius: 50%;
		    text-align: center;
		    
		    width: 40px;
		    height: 40px;
		    margin-right: 7px;

		    i{
		    	font-size: 16px;
		    	vertical-align: middle;
		    }
		    &:hover{
		    	color: @track-actions-bt-add-to-playlist-color;
		    	border: 2px solid #727273;
		    	cursor: pointer;
		    }

		}

		.volume-slider{
			//height: 3px;
			height: 30px;
			background-color: #616161;
			//width: 70px;
			width: 3px;
			margin-left: 7px; 
			display: inline-block;
			position: relative;
		   .volume-spin{
		   		//width: 50%;
		   		height: 50%;
		   		//height: 100%;
		   		width: 100%;
		   		background-color: #FAFAFA;
		   		display: block;
		   		position: absolute;
		   		bottom: 0;

		   		i.spin{
		   			display: inline-block;
		   			position: absolute;
		   			height: 3px;
		   			width: 7px;
		   			background-color: #FAFAFA;//#9E9E9E;
		   			right: -2px;
		   			top: -3px;
		   			//border-radius: 50%;
		   		}
		   }
		}
	}

	.z-track-duration-container{
		margin-left: 10px;
		display: inline-block;
		#track-duration-slider,.duration-infos{
			display: inline-block;
			vertical-align: middle;
		}		

		#track-duration-slider{
			width: 250px;
		}
		.duration-infos{
			display: inline-block;
			padding-left: 10px;
			font-size:14px;
		}
	}

}