nav.navbar(class='navbar-inverse', role='navigation', ng-controller='headerCtrl')
  .navbar-header
    a.navbar-brand(href='/') ZINFATA
  ul.nav(class=['navbar-right', 'navbar-nav'])
    li.dropdown(ng-show='loggedIn()')
      a.dropdown-toggle(data-toggle='dropdown')
        | {{ user.handle }}
        b.caret
      ul.dropdown-menu
        li.menu-item: a(href= '{{ userProfile(user) }}' )
          span.glyphicon(class='glyphicon-user')
          |   Profile
        //- li.menu-item: a(href= '{{ userSettings(user) }}') Settings
    li: a(href='#', ng-show='loggedIn()', ng-click='logout()')
      span.glyphicon(class='glyphicon-log-out') 
      |   Log Out
    li: a(href='login', ng-hide='loggedIn()')
      span.glyphicon(class='glyphicon-log-in')
      |   Log In
    li: a(href='register', ng-hide='loggedIn()') Register
