/* menu */
@media (max-width: 1000px) {
  #mobile-menu {
    display: block;
  }
}
@media (min-width: 1001px) {
  #mobile-menu {
    display: none;
  }
}
@media (max-width: 1000px) {
  #sidebar {
    display: none;
  }
}
@media (min-width: 1001px) {
  #sidebar {
    display: block;
  }
}
@media (max-width: 1000px) {
  .nav > .z-desktop {
    display: none;
  }
}
