/* Default palette
   Generated via materialpalette.com
*/
/* track list */
/*
  Simulate z-depth material design style
  Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
  via: https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d#.df5ckxc7t
*/
/* 
  Simulates element elevation via use of translation and shadow
  Use it on a hoverable element with a transition attribute set
  (default: 250ms)
*/
/*
smartphones, iPhone, portrait 480x320 phones.
@media (min-width:320px)
portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide.
@media (min-width:481px)
portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones.
@media (min-width:641px)
tablet, landscape iPad, lo-res laptops ands desktops.
@media (min-width:961px)
big landscape tablets, laptops, and desktops.
@media (min-width:1025px)
hi-res laptops and desktops
@media (min-width:1281px)
*/
html,
body
{
    font-size: 1em;

    height: 100%;
}
body
{
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    box-sizing: content-box;
    margin-top: 30px;
    padding: 0 0 90px 0;

    color: #212121;
    background-color: #f7f7f7;
}
@media (max-width: 767px)
{
    body .container > .row > .col-xs-12
    {
        margin: 0;
        padding: 0;
    }
}
form label
{
    color: #e64a19;
}
#lyrics pre.ng-binding
{
    border: none;
    background: none;
}
ul .dropdown-menu
{
    background: #e64a19;
}
nav.navbar
{
    color: #ffccbc;
    border: none;
    background-color: #e64a19;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}
@media (min-width: 768px)
{
    nav.navbar
    {
        font-size: .75em;
    }
}
nav.navbar a:link,
nav.navbar a:visited,
nav.navbar a:hover,
nav.navbar a:active
{
    color: #ffccbc;
}
nav.navbar button
{
    border: none;
}
nav.navbar .navbar-btn
{
    position: relative;
    right: 15px;

    color: #ffccbc;
    border: thin solid #ffccbc;
    background: transparent;
}
nav.navbar .navbar-btn:hover
{
    color: white;
    border: none;
    background-color: #e64a19;
}
nav.navbar ul .navbar-right
{
    padding-right: 20px;
    /*causes highlight on hover not to extend completely to the right*/
}
nav.navbar #z-navbar-collapse.in
{
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}
nav.navbar #z-navbar-collapse.in li:hover
{
    background-color: #ff5722;
}
nav.navbar .z-text-emphasize
{
    font-size: 1em;
    font-weight: bold;
}
a
{
    color: #727272;
}
a:link,
a:visited
{
    color: #ff5722;
}
a:hover,
a:active
{
    text-decoration: none;

    color: #e64a19;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    color: #e64a19;
}
.alert
{
    position: fixed;
    z-index: 3;

    width: 100%;
    margin: 0;
    padding-left: 10px;

    box-shadow: 0 3px 6px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .23);
}
.container
{
    min-height: 90%;
}
.page-header
{
    margin-top: 0;

    color: #ff5722;
}
.modal-dialog .close,
.modal-dialog .modal-header
{
    color: #e64a19;
}
.jumbotron
{
    position: relative;

    min-height: 300px;
    max-height: 100%;
    margin-top: 50px;
    margin-bottom: 0;

    color: #ff5722;
    background: -webkit-linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .6)), url('../../images/home_jumbotron_bg.jpg') no-repeat center center;
    background:         linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .6)), url('../../images/home_jumbotron_bg.jpg') no-repeat center center;
    background-size: cover;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}
.jumbotron .z-blur
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: inherit;

    -webkit-filter: blur(10px);
            filter: blur(10px);
}
.jumbotron .z-vcentered
{
    background-color: rgba(0, 0, 0, .2);
}
.jumbotron .z-bottom
{
    display: block;
    float: none;

    min-width: 75%;
    margin: 50px auto;

    vertical-align: middle;
}
.jumbotron .z-bottom p
{
    padding-top: 5px;
    padding-bottom: 5px;

    color: white;
}
.jumbotron .z-bottom a.btn
{
    max-width: 50%;

    color: #ff5722;
    border: thin solid #ff5722;
    background-color: transparent;
    /* center-block on small screen*/
}
.jumbotron .z-bottom a.btn:hover
{
    color: white;
    border: none;
    background-color: #ff5722;
}
@media (max-width: 992px)
{
    .jumbotron .z-bottom a.btn
    {
        display: block;

        margin: 0 auto;
    }
}
@media (max-width: 992px)
{
    .jumbotron h1,
    .jumbotron h2,
    .jumbotron h3,
    .jumbotron h4,
    .jumbotron h5,
    .jumbotron h6,
    .jumbotron .metrics,
    .jumbotron .interactions
    {
        text-align: center;
    }
}
.jumbotron h1
{
    text-shadow: 0 0 25px black;
}
.jumbotron .small,
.jumbotron #username
{
    color: white;
}
.jumbotron .small a:link,
.jumbotron #username a:link,
.jumbotron .small a:visited,
.jumbotron #username a:visited
{
    color: white;
}
.jumbotron .small a:hover,
.jumbotron #username a:hover,
.jumbotron .small a:active,
.jumbotron #username a:active
{
    color: #ff5722;
}
.jumbotron .metrics
{
    color: white;
}
.z-content-area
{
    float: none;

    height: 100%;
    margin: 1px 10px;
    padding: 1px 10px;
    padding-top: 5px;

    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}
@media (min-width: 768px)
{
    .z-content-area
    {
        margin: 20px;
        margin-top: 0;
        padding: 25px 30px 15px;
    }
}
@media (min-width: 768px)
{
    .z-form-box
    {
        max-width: 65%;
        margin: 0 auto;
    }
}
.z-secondary-text
{
    color: #727272;
}
.z-vcentered
{
    display: block;
    float: none;

    padding: 10px 10px;

    vertical-align: middle;
}
.z-ellipsis
{
    overflow: hidden;

    width: 100%;

    white-space: nowrap;
    text-overflow: ellipsis;
}
.z-ellipsis:hover
{
    overflow: visible;

    text-overflow: none;
}
.z-id-card #avatar,
.z-id-card #cover-art
{
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}
.z-search-box
{
    padding-left: 50px;

    background: white url('../../images/search_icon.svg') 5px 5px no-repeat;
}
.z-list-box,
#z-queue
{
    margin: 0;
    padding: 0;
}
.z-list-box .panel-heading
{
    padding: 0;
    padding-top: 10px;
}
.z-list-box .panel-title
{
    font-weight: bold;

    padding-bottom: 10px;

    color: #e64a19;
    border-bottom: 1px solid #b6b6b6;
}
.z-list-box .panel-title a
{
    font-weight: lighter;
}
.z-list-box .panel-body
{
    padding: 0;
}
.z-track,
.z-album,
.z-playlist,
#z-queue .panel-heading
{
    padding-top: 10px;
    padding-bottom: 10px;

    border: none;
    border-bottom: 1px solid #b6b6b6;
}
.z-track a > span.glyphicon:hover,
.z-album a > span.glyphicon:hover,
.z-playlist a > span.glyphicon:hover
{
    color: #e64a19;
}
.z-track img.media-object,
.z-album img.media-object,
.z-playlist img.media-object
{
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}
.z-dropdown .z-dropdown-menu
{
    display: none;
}
.z-show
{
    display: block;
}
.z-btn
{
    -webkit-transition: all 500ms;
            transition: all 500ms;

    color: white;
    border-color: #ff5722;
    background-color: #ff5722;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    /*&:hover, &:focus, &:active, &.active {
  	background-color: #ff4408;
  	border-color: #ee3900;
		.elevate(1);
  }
  .disabled {
  	background-color: #ff4408;
  	border-color: #ee3900;
  	&:hover, &:focus, &:active, &.active {
	  	background-color: #ff4408;
	  	border-color: #ee3900;
	  }	
	 	[disabled] {
			background-color: #ff4408;
	  	border-color: #ee3900;
	  	&:hover, &:focus, &:active, &.active {
		  	background-color: #ff4408;
		  	border-color: #ee3900;
		  }
	 	}
  }*/
}
.z-btn:hover,
.z-btn:focus,
.z-btn:active,
.z-btn.active
{
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);

    border-color: #ee3900;
    background-color: #ff4408;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}
.z-btn.disabled:hover,
.z-btn.disabled:focus,
.z-btn.disabled:active,
.z-btn.disabled.active,
.z-btn[disabled]:hover,
.z-btn[disabled]:focus,
.z-btn[disabled]:active,
.z-btn[disabled].active,
fieldset[disabled] .z-btn:hover,
fieldset[disabled] .z-btn:focus,
fieldset[disabled] .z-btn:active,
fieldset[disabled] .z-btn.active
{
    cursor: not-allowed;
    -webkit-transform: none;
            transform: none;

    opacity: .65;
    color: black;
    border-color: #ff5722;
    background-color: #ff5722;
    box-shadow: none;
}
#z-queue .panel-heading
{
    padding-right: 0;
    padding-left: 0;
}
#z-queue .panel-body
{
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
#z-queue h1,
#z-queue h2,
#z-queue h3,
#z-queue h4,
#z-queue th
{
    color: #e64a19;
}
#z-queue td
{
    vertical-align: middle;

    color: #727272;
}
#z-queue td a:link,
#z-queue td a:visited
{
    color: #727272;
}
#z-queue td a span.glyphicon
{
    color: #ff5722;
}
#z-queue td a:hover,
#z-queue td a:active
{
    color: #e64a19;
}
.cent
{
    display: inline-block;

    width: 0;
    height: 100%;

    vertical-align: middle;
}
/* menu */
@media (max-width: 992px - 1)
{
    #mobile-menu
    {
        display: block;
    }
}
@media (min-width: 992px)
{
    #mobile-menu
    {
        display: none;
    }
}
@media (max-width: 992px - 1)
{
    #sidebar
    {
        display: none;
    }
}
@media (min-width: 992px)
{
    #sidebar
    {
        display: block;
    }
}
@media (max-width: 992px - 1)
{
    .nav > .z-desktop
    {
        display: none;
    }
}
/* track */
.track-list a
{
    text-decoration: none;
}
.track-list .track-item
{
    margin-bottom: 5px;

    border: 2px solid #f1f1f1;
    border-radius: 5px;
}
.track-list .track-item .track-cover
{
    display: inline-block;

    padding: 10px;

    vertical-align: top;
}
.track-list .track-item .track-infos
{
    display: inline-block;

    width: calc(100% - 70px);
    padding-right: 10px;
    padding-left: 5px;
}
.track-list .track-item .track-infos .track-title,
.track-list .track-item .track-infos .track-duration,
.track-list .track-item .track-infos .track-author,
.track-list .track-item .track-infos .track-album
{
    font-size: 14px;
    line-height: 18px;

    padding-bottom: 7px;

    word-wrap: break-word;
}
.track-list .track-item .track-infos .track-title
{
    padding-top: 5px;
}
.track-list .track-item .track-infos .track-author
{
    font-weight: bold;
}
.track-list .track-item .track-infos .track-album i
{
    margin-right: 5px;
}
.track-list .track-item .track-infos .track-type-duration
{
    font-size: 14px;

    padding-bottom: 5px;
}
.track-list .track-item .track-infos .track-type-duration .track-duration,
.track-list .track-item .track-infos .track-type-duration .track-type
{
    display: inline-block;
}
.track-list .track-item .track-infos .track-type-duration .track-duration
{
    padding-left: 20px;
}
.track-list .track-item .track-infos .track-actions
{
    padding: 5px 0;
}
.track-list .track-item .track-infos .track-actions .track-actions-bt
{
    display: inline-block;

    padding: 5px 10px;

    border: 1px solid transparent;
}
.track-list .track-item .track-infos .track-actions .track-actions-bt-play
{
    background-color: #81c784;
}
.track-list .track-item .track-infos .track-actions .track-actions-bt-play:hover
{
    background-color: #43a047;
}
.track-list .track-item .track-infos .track-actions .track-actions-bt-add-to-queue
{
    background-color: #64b5f6;
}
.track-list .track-item .track-infos .track-actions .track-actions-bt-add-to-queue:hover
{
    background-color: #1e88e5;
}
.track-list .track-item .track-infos .track-actions .track-actions-bt-add-to-playlist
{
    background-color: #ffd54f;
}
.track-list .track-item .track-infos .track-actions .track-actions-bt-add-to-playlist:hover
{
    background-color: #ffb300;
}
.track-list .track-item .track-infos .track-actions .track-actions-bt:not(:first-child)
{
    margin-left: 5px;
}
.track-list .track-item .track-infos .track-actions .track-actions-bt,
.track-list .track-item .track-infos .track-actions .track-actions-bt a
{
    text-decoration: none;

    color: white;
}
/* z-player bottom */
.z-control-bt-container .z-control-bt,
.z-control-bt-container .z-track-duration-container,
.z-control-bt-container fa-volume-up,
.z-control-bt-container .volume-slider
{
    vertical-align: middle;
}
#z-player-bottom
{
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 15px 20px;

    text-align: center;

    color: #fff;
    background-color: #212121;
}
#z-player-bottom .z-player-container
{
    display: inline-block;

    vertical-align: middle;
}
#z-player-bottom .z-control-bt-container,
#z-player-bottom .z-player-track-infos,
#z-player-bottom .z-control-bt,
#z-player-bottom .track-thumbnail
{
    display: inline-block;

    vertical-align: middle;
}
#z-player-bottom .z-player-track-infos
{
    font-size: 12px;
    line-height: 16px;

    max-width: 330px;
    padding: 2px 15px;

    text-align: left;

    color: #9d9d9d;
}
#z-player-bottom .z-player-track-infos .z-player-track-title,
#z-player-bottom .z-player-track-infos span.z-player-track-author,
#z-player-bottom .z-player-track-infos .z-player-track-album,
#z-player-bottom .z-player-track-infos .z-player-track-title a,
#z-player-bottom .z-player-track-infos span.z-player-track-author a,
#z-player-bottom .z-player-track-infos .z-player-track-album a
{
    display: inline-block;

    color: #fff;
}
#z-player-bottom .z-player-track-infos .z-player-track-title a,
#z-player-bottom .z-player-track-infos span.z-player-track-author a,
#z-player-bottom .z-player-track-infos .z-player-track-album a
{
    color: #fff;
}
#z-player-bottom .z-player-track-infos .z-player-track-title a:hover,
#z-player-bottom .z-player-track-infos span.z-player-track-author a:hover,
#z-player-bottom .z-player-track-infos .z-player-track-album a:hover
{
    color: #ffd54f;
}
#z-player-bottom .z-player-track-infos .z-player-track-title
{
    padding-right: 7px;
}
#z-player-bottom .z-player-track-infos span.z-player-track-author,
#z-player-bottom .z-player-track-infos .z-player-track-album
{
    padding-left: 7px;
}
#z-player-bottom .z-control-bt-container
{
    padding-left: 15px;
}
#z-player-bottom .z-control-bt-container .z-track-volume-container
{
    display: inline-block;

    margin-right: 15px;
    margin-left: 10px;
    margin-left: 15px;

    text-align: center;
    vertical-align: middle;
}
#z-player-bottom .z-control-bt-container .z-track-volume-container #player-volume-slider
{
    display: inline-block;
    display: block;

    width: 2px;
    height: 30px;

    -webkit-appearance: slider-vertical;
}
#z-player-bottom .z-control-bt-container .z-track-volume-container i
{
    font-size: 16px;

    position: relative;
    left: -5px;

    display: block;

    width: 15px;
    margin-top: 5px;
}
#z-player-bottom .z-control-bt-container .z-track-volume-container i:hover
{
    cursor: pointer;
}
#z-player-bottom .z-control-bt-container .z-control-bt
{
    width: 40px;
    height: 40px;
    margin-right: 7px;

    text-align: center;

    border: 1px solid #727273;
    border-radius: 50%;
}
#z-player-bottom .z-control-bt-container .z-control-bt i
{
    font-size: 16px;

    vertical-align: middle;
}
#z-player-bottom .z-control-bt-container .z-control-bt:hover
{
    cursor: pointer;

    color: #ffd54f;
    border: 2px solid #727273;
}
#z-player-bottom .z-control-bt-container .volume-slider
{
    position: relative;

    display: inline-block;

    width: 3px;
    height: 30px;
    margin-left: 7px;

    background-color: #616161;
}
#z-player-bottom .z-control-bt-container .volume-slider .volume-spin
{
    position: absolute;
    bottom: 0;

    display: block;

    width: 100%;
    height: 50%;

    background-color: #fafafa;
}
#z-player-bottom .z-control-bt-container .volume-slider .volume-spin i.spin
{
    position: absolute;
    top: -3px;
    right: -2px;

    display: inline-block;

    width: 7px;
    height: 3px;

    background-color: #fafafa;
}
#z-player-bottom .z-track-duration-container
{
    display: inline-block;

    margin-left: 10px;
}
#z-player-bottom .z-track-duration-container #track-duration-slider,
#z-player-bottom .z-track-duration-container .duration-infos
{
    display: inline-block;

    vertical-align: middle;
}
#z-player-bottom .z-track-duration-container #track-duration-slider
{
    width: 250px;
}
#z-player-bottom .z-track-duration-container .duration-infos
{
    font-size: 14px;

    display: inline-block;

    padding-left: 10px;
}
#z-player-bottom #expand-player-controllers
{
    display: none;
}
.track-thumbnail
{
    width: 50px;
    height: 50px;
}
@media (max-width: 352px)
{
    .track-thumbnail
    {
        margin-bottom: 10px;
    }
}
#expand-player-controllers
{
    display: block;
}
.p-mobile #z-player-bottom:not(.expand-mobile) .z-track-duration-container
{
    display: none;
}
@media (max-width: 598px)
{
    .p-mobile #z-player-bottom:not(.expand-mobile) .z-track-volume-container,
    .p-mobile #z-player-bottom:not(.expand-mobile) .z-control-bt:not(.z-control-bt-play)
    {
        display: none;
    }
    .p-mobile #z-player-bottom:not(.expand-mobile) #expand-player-controllers
    {
        position: absolute;
        top: -15px;
        right: 20px;
        right: 10px;

        display: inline-block;

        padding: 0 7px 7px;

        cursor: pointer;

        border-radius: 5px;
        background-color: #212121;
    }
}
@media (max-width: 494px)
{
    .p-mobile #z-player-bottom:not(.expand-mobile) .track-thumbnail
    {
        display: none;
    }
}
#compress-player-controllers
{
    display: none;
}
.p-mobile #z-player-bottom.expand-mobile
{
    height: 100%;

    background-color: #0a0a0a;
}
.p-mobile #z-player-bottom.expand-mobile .z-player-container
{
    display: inline-block;

    width: 100%;

    vertical-align: middle;
}
.p-mobile #z-player-bottom.expand-mobile .z-control-bt-container
{
    display: block;

    padding-top: 30px;
}
.p-mobile #z-player-bottom.expand-mobile .z-track-duration-container
{
    display: block;

    padding-top: 15px;
}
.p-mobile #z-player-bottom.expand-mobile .z-track-duration-container #track-duration-slider
{
    width: 70%;
}
@media (max-width: 380px)
{
    .p-mobile #z-player-bottom.expand-mobile .z-track-duration-container #track-duration-slider
    {
        width: 100%;
    }
}
.p-mobile #z-player-bottom.expand-mobile #compress-player-controllers
{
    position: absolute;
    top: -2px;
    right: 20px;
    right: 15px;

    display: inline-block;

    padding: 2px 7px 7px;

    cursor: pointer;

    border-radius: 5px;
    background-color: #212121;
}
