.jumbotron
    .row
        h2 Welcome to Zinfata
        p The Ultimate Plateform for Listening and Sharing Togolese Music
    .row
        button.btn(class='btn-primary')
            a(href='register')
            | Join Zinfata Now
