h1 Manage Invitations
ul
  li
    z-invitation-form(on-create='addInvitation(invitation)')
  li(ng-repeat='invitation in invitations track by $index')
    z-invitation-form(for='invitation', on-delete='removeInvitation($index)')
