.panel(class='z-list-box')
    .panel-heading
        h4.panel-title Albums
            .pull-right
                a(href='/album/new') + Add album
    .panel-body
        div(ng-show='!albums.length && isOwner')
            p.text-center You don't have any albums yet?
                a(href='album/new')  Create one now!
        div(ng-show='!albums.length && !isOwner')
            p.text-center This user has no album!
        .z-list(ng-show='!!albums.length')
            .z-album(ng-repeat='album in albums')
              .media
                .media-left
                  a(href='#')
                    img.media-object(name='coverArt', width='75', ng-src='{{ album.img }}', alt='{{ album.title }}')
                .media-body
                  .row
                    .col-sm-7(class='col-md-7 col-xs-7')
                      h5.media-heading(class='z-ellipsis'): a(href='album/{{ album._id }}') {{ album.title }}
                      h6: a(href='user/{{ artist._id }}') {{ artist.handle }}
                    .col-sm-5(class='col-md-5 col-xs-5')
                      .pull-right
                        .metrics
                            ul.list-inline(class='z-vcentered z-secondary-text hidden-xs hidden-sm')
                                li.small: ng-pluralize(count='album.trackLength', when="{'0': '0 track', '1': '1 track', 'other': '{} tracks'}")
                                li.small 
                                    i.fa.fa-clock-o 
                                    |  {{ album.duration | duration2time }}
                            ul.list-unstyled(class='z-secondary-text hidden-md hidden-lg')
                                li.text-right: ng-pluralize(class='small', count='album.trackLength', when="{'0': '0 track', '1': '1 track', 'other': '{} tracks'}")
                                li.text-right(class='small') {{ track.duration | duration2time }}
        //- .list-group(ng-show='!!albums.length')
            .list-group-item(ng-repeat='album in albums')
                .row
                    .col-md-2
                        img.img-responsive(class='center-block', name='coverArt', width='50', alt='{{ album.title }}', ng-src='{{ album.imageUrl }}')
                    .col-md-8
                        h5.list-group-item-heading: a(href='album/{{ album._id }}') {{ album.title }}
                        h6: a(href='user/{{ artist._id }}') {{ artist.handle }}
                        .metrics
                            ul.list-inline
                                li: ng-pluralize(count='album.trackLength', when="{'0': '0 track', '1': '1 track', 'other': '{} tracks'}")
                                li 
                                    i.fa.fa-clock-o 
                                    |  {{ album.duration | duration2time }} 
                    .col-md-2
                        //- button.btn-lg(class='btn-default btn-block', type='button', ng-click='queueUp(album)')
                            span.glyphicon(class='glyphicon-play-circle')
