form.form-inline
	.form-group
		.input-group
			input.form-control(type='text', class='input-sm', id='new_album', ng-model='album.title', placeholder='Create album')
			a.input-group-addon(type='button', class='btn btn-primary', ng-click='create(album)')
				span.glyphicon(class='glyphicon-plus')
					