
a.toggle-button(class='visible-xs-inline-block', href='#', ng-click='toggleVisibility()')
  i.fa(class='fa-caret-down')
.container
  .media
    .media-left(class='hidden-xs')
      a(href='#')
        img(name='coverArt', width='40', ng-src='{{ track.img }}', alt='{{ track.title }}')
    .media-body
      .row
        .col-xs-12(class='col-sm-12 col-md-7 col-md-push-4')
          .row(id='z-player-time-control')
            .col-xs-12(class='col-sm-12 col-md-8 col-md-push-2')
              .z-time-slider
                .z-progress(style="width: {{sound.progress}}%")
                input#z-time-range(type='range', name='z-player-slider', min=0, max='{{sound.duration}}', ng-model='sound.position',defaultValue='0', disabled)
            .col-xs-6(class='col-sm-2 col-md-2 col-md-pull-8')
              p#sound-position {{ sound.position | duration2time }}
            .col-xs-6(class='col-sm-2 col-md-2')
              p#sound-duration {{ sound.duration | duration2time }}
        .col-xs-12(class='col-sm-12 col-md-2 col-md-pull-7 z-collapsable')
          h6.visible-xs-inline-block(class='text-center')
            a(href='track/{{ track._id }}'): strong {{ track.title }}
            |  - 
            a(href='album/{{ track.album.id }}') {{ track.artist.handle }}
          h5.media-heading(class='z-ellipsis hidden-xs'): a(href='track/{{ track._id }}'): strong {{ track.title }} 
            .small: a(href='album/{{ track.album.id }}', class='z-ellipsis hidden-xs') {{ track.album.title }}
          h6.hidden-xs
            a(href='user/{{ track.artist.id }}') 
            |  {{ track.artist.handle }}
        .col-xs-12(class='col-sm-12 col-md-2 col-md-pull-7 z-collapsable')
          #z-player-track-control
            a.z-player-button(href='#', ng-click='prev()')
              i.fa.fa-step-backward 
            a.z-player-button(href='#', ng-click='playPause()')
              i.fa.fa-play(ng-show='!isPlaying')
              i.fa.fa-pause(ng-show='isPlaying')
            a.z-player-button(href='#', ng-click='next()')
              i.fa.fa-step-forward
        .hidden-xs(class='col-sm-12 col-md-1')
          #z-player-misc-control
            a.z-player-button(href='#', ng-click='muteToggle()')
              i.fa.fa-volume-up(ng-show='!isMuted()')
              i.fa.fa-volume-off(ng-show='isMuted()')
            