.row
  a.thumbnail
    img(ng-src='{{ track.coverArt }}', alt='cover art')
  .track-info
    h4: a(href='/track/{{ track._id }}') {{ track.title }} 
      |  - 
      strong: a(href='/album/{{ track.album.id }}') {{ track.album.title }}
    h5 By 
      a(href='/user/{{ track.artist.id }}') {{ track.artist.handle }}
.row(class='audio-player')
  audio(controls)
//- .row(class='audio-player')
  .col-md-2
    button.btn(class='btn-default', type='button', ng-click='prev()')
      span.glyphicon(class='glyphicon-backward')
  .col-md-12
    audio(controls)
  .col-md-2
    button.btn(class='btn-default', type='button', ng-click='next()')
      span.glyphicon(class='glyphicon-forward')  
