.container
    .row
        .col-xs-12(class='col-sm-12 col-md-10 col-md-offset-1')
            .z-form-box
                .z-content-area
                    .page-header
                        h2 Log Into Zinfata
                            .small All of Togo music at the tip of your fingers.
                    p.text-center Not yet a member of Zinfata?
                        a(href='register')  Register first!
                    form(name='loginForm', role='form', novalidate)
                        .form-group(ng-class="{ 'has-error': loginForm.handle.$touched && loginForm.handle.$invalid }")
                            input.form-control(type='text', name='handle', placeholder='Handle', ng-model='credentials.handle', required, autofocus)
                            .help-block(ng-messages='loginForm.handle.$error', ng-show='loginForm.handle.$touched')
                                div(ng-messages-include='/zinfataClient/app/shared/messages/formMessages.html')
                        .form-group(ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }")
                            input.form-control(type='password', name='password', placeholder='Password', ng-model='credentials.password', required)
                            .help-block(ng-messages='loginForm.password.$error', ng-show='loginForm.password.$touched')
                                div(ng-messages-include='/zinfataClient/app/shared/messages/formMessages.html')
                            p: a(href='forgot') Forgot Your Password ?
                        .form-group
                            button.z-btn(type='submit', class=['form-control'],
                            ng-disabled='loginForm.$invalid', ng-click='authenticate(credentials)') Log In!
