doctype
html.no-js
  head
    base(href='/')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= title
    meta(name='description', content='La plateforme de promotion et de distribution numérique de la musique togolaise.')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block head
      //- vendors:css
      link(rel="stylesheet", href="/lib/bootstrap-3.3.5/css/bootstrap.css")
      link(rel="stylesheet", href="/lib/jquery-ui-1.11.4/jquery-ui.css")
      link(rel="stylesheet", href="/lib/font-awesome-4.5.0/css/font-awesome.css")
      link(rel="stylesheet", href="/lib/ngImgCrop/ng-img-crop.css")
      //- endinject
      //- inject:css
      link(rel="stylesheet", href="/stylesheets/zinfata.css")
      //- endinject
      script.
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};
        ga.l = +new Date;
        ga('create', 'UA-80702504-1', 'auto');
        ga('require', 'autotrack');
        ga('send', 'pageview');
      script(async src="https://www.google-analytics.com/analytics.js")
      script(async src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/0.6.5/autotrack.js")
  body#coming-soon(ng-app='zinfataClient')
    <!--[if lt IE 8]>
    p.browsehappy
      | You are using an <strong>outdated</strong> browser.
      | Please <a href="http://browsehappy.com/">upgrade your browser</a>
      | to improve your experience.
    <![endif]-->
    block header
      nav.navbar.navbar-fixed-top.navbar-inverse
        .container-fluid
          .navbar-right
            p.navbar-text
              a(href='/login', target='_self')   Connexion

    block content
      .container-fluid(ng-controller='comingSoonCtrl')
        .row
          .col-sm-12.col-md-12
            .alert#message-box(class=['alert-{{ message.type }}', 'alert-dismissable'], role='alert', ng-show='!!message.text')
              button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
              i.fa(class='{{ message.icon }}', aria-hidden='true')
              |   {{ message.text }}
        .row
          .col-sm-12.col-md-8.col-md-offset-2
            #logo
              img.center-block(src='images/zlogoBlack.png', alt='Zinfata Logo', width='160')
            #teaser
              h3.text-uppercase.text-center La Révolution Musicale a Commencé!
                .small Es-tu Prêt?
            #teaser-explanation
              p.text-justify.
                Les artistes togolais ont enfin leur communauté sur le web grace à une plateforme professionnelle qui facilite la <b>promotion et la distribution musicale numérique</b> – du Gospel à l'Afro Trap; de la musique togolaise traditionnelle aux nouveautés de la pop culture.
              p.text-justify.
                <b>Rejoins dès maintenant les tout premiers privilégiés</b> qui testent en exclusivité Zinfata, et participent ainsi à <b>façonner le futur de la musique du Togo, de l'Afrique, et du monde</b>.
            br
            #invitation(ng-hide='hasCode')
              form(name='invitationRequestForm', role='form', novalidate)
                .input-group(ng-class="{ 'has-error': invitationRequestForm.contact.$touched && invitationRequestForm.contact.$invalid }")
                  input.form-control(type='email', name='contact', title='Demande d\'invitation', ng-model='invitation.contact', placeholder='Rejoins-nous par email')
                  span.input-group-btn
                    button.btn.btn-default(type='submit', ng-click='request(invitation)', title='Envoie ta demande', ng-disabled='!invitation.contact || invitationRequestForm.$invalid', , onClick="ga('send', 'event', { eventCategory: 'Invitations', eventAction: 'submit', eventLabel: 'Invitations Request Form - Submit', eventValue: 1});")
                      i.fa.fa-envelope
                .help-block(ng-messages='invitationRequestForm.contact.$error', ng-show='invitationRequestForm.contact.$touched', ng-hide='invitationRequestForm.$submitted')
                  div(ng-messages-include='/zinfataClient/app/shared/messages/formMessages.html')
            #got-code
              p.text-center
                a(href='#', ng-click='gotCode(true, $event)', ng-hide='hasCode') J'ai déjà un code
                a(href='#', ng-click='gotCode(false, $event)', ng-show='hasCode') J'ai besoin d'une invitation
            #code(ng-show='hasCode')
              form(name='codeValidationForm', role='form', novalidate)
                .input-group(ng-class="{ 'has-error': codeValidationForm.contact.$touched && codeValidationForm.contact.$invalid }")
                  input.form-control(type='text', name='invitation_code', title='Code d\'invitation', ng-model='invitation.code', placeholder='Valide ton code d\'invitation')
                  span.input-group-btn
                    button.btn.btn-default(type='submit', ng-click='validate(invitation.code)', title='Valide ton code', ng-disabled='!invitation.code || codeValidationForm.$invalid', onClick="ga('send', 'event', { eventCategory: 'Invitations', eventAction: 'submit', eventLabel: 'Invitations Code Validation Form - Submit', eventValue: 1});")
                      i.fa.fa-unlock-alt(ng-hide='loading')
                      i.fa.fa-spinner.fa-pulse.fa-fw(ng-show='loading')
                .help-block(ng-messages='codeValidationForm.contact.$error', ng-show='codeValidationForm.contact.$touched', ng-hide='codeValidationForm.$submitted')
                  div(ng-messages-include='/zinfataClient/app/shared/messages/formMessages.html')
            br
            #get-social
              p.text-center
                span#facebook: a(href='https://www.facebook.com/zinfata', target='_blank')
                  i.fa.fa-facebook
                span#twitter: a(href='https://twitter.com/zinfata',  target='_blank')
                  i.fa.fa-twitter


    block scripts
      //- vendors:js
      script(src="/lib/jquery/jquery-2.1.4.min.js")
      script(src="/lib/jquery-ui-1.11.4/jquery-ui.js")
      script(src="/lib/bootstrap-3.3.5/js/bootstrap.js")
      script(src="/lib/angular-1.4.5/angular.js")
      script(src="/lib/angular-1.4.5/angular-resource.js")
      script(src="/lib/angular-1.4.5/angular-route.js")
      script(src="/lib/angular-1.4.5/angular-messages.js")
      script(src="/lib/angular-1.4.5/angular-cookies.js")
      script(src="/lib/sound-manager-2/script/soundmanager2.js")
      script(src="/lib/ngImgCrop/ng-img-crop.js")
      script(src="/lib/modernizr/modernizr.js")
      //- endinject

      //- inject:js
      //- script(src="/javascripts/feature-detects.js")
      script(src="/zinfataClient/app/app.module.js")
      script(src="/zinfataClient/app/app.constants.js")
      script(src="/zinfataClient/app/app.directives.js")
      script(src="/zinfataClient/app/app.factories.js")
      script(src="/zinfataClient/app/app.filters.js")
      script(src="/zinfataClient/app/app.routes.js")
      script(src="/zinfataClient/app/app.services.js")
      script(src="/zinfataClient/app/campaigns/comingSoon/comingSoonController.js")
      //- //- endinject
