#messageBox(ng-controller='messageCtrl')
  div(ng-repeat='msg in messages')
    .alert(class=['alert-{{msg.type}}', 'alert-dismissable'], role='alert')
      button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
      | {{msg.text}}
  p {{ messages | json }}

script(src='zinfataClient/app/shared/messages/messageController.js')
script(src='zinfataClient/app/shared/messages/messageService.js')
