li.menu-item: a(href='search')
  span.glyphicon(class='glyphicon-search')
  |  Search
//- li: a(href='#')
  span.glyphicon(class='glyphicon-globe')
  |  Discover
//- li: a(href='#')
  span.glyphicon(class='glyphicon-heart')
  |  Follow
//- li: a(href='#')
  span.glyphicon(class='glyphicon-star')
  |  Starred
li.menu-item: a(href='queue')
  span.glyphicon(class='glyphicon-list-alt')
  |  Play Queue
//- li: a(href='#')
  span.glyphicon(class='glyphicon-music')
  |  My Music
//- li.z-dropdown
  a.z-dropdown-toggle(href='#', data-toggle='dropdown', ng-click='toggleContent()')
    span.glyphicon(class='glyphicon-list')
    |  My Playlists
  z-playlist-dropdown