.container
    .row
        .col-s-12(class='col-md-10 col-md-offset-1')
            .col-md-8(class='col-md-offset-2')
                .z-content-area
                    div(ng-if='!validated')
                        .page-header
                            h3 Token Verification
                                .small Please copy your password-reset token below.
                        form(name='tokenVerificationForm', role='form', novalidate)
                            .form-group(ng-class="{ 'has-error': tokenVerificationForm.resetToken.$touched && tokenVerificationForm.resetToken.$invalid }")
                                input.form-control(type='text', name='resetToken', placeholder='Verification Token', ng-model='credentials.token', required)
                                .help-block(ng-messages='tokenVerificationForm.resetToken.$error', ng-show='tokenVerificationForm.resetToken.$touched')
                                    div(ng-messages-include='/zinfataClient/app/shared/messages/formMessages.html')
                            .form-group
                                button.z-btn(type='submit', class=['form-control'], ng-disabled='tokenVerificationForm.$invalid', ng-click='verify(credentials.token)') Verify!

                    div(ng-if='validated')
                        .page-header
                            h3 Password Reset
                                .small Enter and confirm your new password.
                        form(name='passwordResetForm', role='form', novalidate)
                            .form-group(ng-class="{ 'has-error': passwordResetForm.password.$touched && passwordResetForm.password.$invalid }")
                                input.form-control(type='password', name='password', placeholder='Password', ng-minlength='8', ng-model='credentials.password', required, autofocus)
                                .help-block(ng-messages='passwordResetForm.password.$error', ng-show='passwordResetForm.password.$touched')
                                    div(ng-messages-include='/zinfataClient/app/shared/messages/formMessages.html')
                            .form-group
                                input.form-control(type='hidden', name='resetToken', ng-model='credentials.token')
                            .form-group(ng-class="{ 'has-error': passwordResetForm.passwordConfirmation.$touched && passwordResetForm.passwordConfirmation.$invalid }")
                                input.form-control(type='password', name='passwordConfirmation', placeholder='Confirm Password', ng-model='credentials.passwordConfirmation', ng-minlength='8', z-match='credentials.password', required)
                                .help-block(ng-messages='passwordResetForm.passwordConfirmation.$error', ng-show='passwordResetForm.passwordConfirmation.$touched')
                                    div(ng-messages-include='/zinfataClient/app/shared/messages/formMessages.html')
                            .form-group
                                button.z-btn(type='submit', class=['form-control'], ng-disabled='passwordResetForm.$invalid', ng-click='update(credentials)') Reset Password!
