
h3 Log In Now!
div
    p Not yet a member of Zinfata?
        a(href='register')  Register Now!
form(name='loginForm', role='form', novalidate)
    .form-group(ng-class="{ 'has-error': loginForm.handle.$touched && loginForm.handle.$invalid }")
        input.form-control(type='text', name='handle', placeholder='Handle', ng-model='credentials.handle', required, autofocus)
        .help-block(ng-messages='loginForm.handle.$error', ng-show='loginForm.handle.$touched')
            div(ng-messages-include='/zinfataClient/app/shared/messages/formMessages.html')
    .form-group(ng-class="{ 'has-error': loginForm.password.$touched && loginForm.password.$invalid }")
        input.form-control(type='password', name='password', placeholder='Password', ng-model='credentials.password', required)
        .help-block(ng-messages='loginForm.password.$error', ng-show='loginForm.password.$touched')
            div(ng-messages-include='/zinfataClient/app/shared/messages/formMessages.html')
    .form-group
        button.btn(type='submit', class=['btn-primary', 'form-control'], ng-disabled='loginForm.$invalid', ng-click='authenticate(credentials)') Log In!
p: a(href='forgot') Forgot Your Password ?
